/*
   Add additional application styles or override styles provided by the selected theme or widgets.
   You can include SASS syntax, as this file is built to a css file using a SASS processor.

   Available Variables:

   Variable Name      Description
   ----------------------------------------------------
   $resources         References the directory where resources reside (images, etc.), this directory may be different
                      between the design time and the runtime directory structure.

                      Example: background-image: url(#{$resources}/Uploaded/image.png)

   $font-path        References the relative directory where fonts are stored.
*/
$font-stack: "Helvetica", "Arial", sans-serif;

$background-color: #bf5353;
$border-color: #dedede;
$title-color: #f6f6f6;
$title-text-color: #373737;

.popup-reglist {
  box-sizing: border-box;
  background: $background-color;
  border: 1px solid $border-color;
  border-radius: 10px;
}
.popup-reglist-title-row {
  background: $title-color;
  border-bottom: 1px solid $border-color;
  border-radius: 9px 9px 0px 0px;
}
.popup-reglist-title-text {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  justify-content: center;
  color: $title-text-color;
}